<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Actions">
            <directory>tests/Actions</directory>
        </testsuite>
        <testsuite name="Cells">
            <directory>tests/Cells</directory>
        </testsuite>
        <testsuite name="Pagination">
            <directory>tests/Pagination</directory>
        </testsuite>
        <testsuite name="Rows">
            <directory>tests/Rows</directory>
        </testsuite>
        <testsuite name="Sorting">
            <directory>tests/Sorting</directory>
        </testsuite>
    </testsuites>
</phpunit>
